*.pyc
.waf3-*
.waf-1*
*~
.DS_Store
docs/doxygen.warnings.log
docs/introspected-doxygen.hpp
docs/ndnSIM.tag
vndn-sync
ndnSIM-vndn-sync.cflags
ndnSIM-vndn-sync.config
ndnSIM-vndn-sync.creator
ndnSIM-vndn-sync.cxxflags
ndnSIM-vndn-sync.files
ndnSIM-vndn-sync.includes
ndnSIM-vndn-sync.creator.user
.qtc_clangd/

